header {
  height: 400px;
  margin: 80px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #35172a;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  }

  .user-text {
    color: white;
    size: 80px;
  }